

<html> 
    
    <head>

  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Form.css" asp-append-version="true">

    </head>

     <body>

     <div class="d-grid gap-2 col-6 mx-auto">
        <a asp-action="Index" asp-controller="CallApi" class="btn btn-warning"> Adminleri Görüntüle</a> 
        <a asp-controller="AdminGuzergah" asp-action="Index" class="btn btn-warning"> Guzergah Ayarları</a>
        <a asp-controller="UserAdmin" asp-action="Index" class="btn btn-warning"> Üye Ayarları</a>
        <a asp-controller="AdminMessages" asp-action="Index" class="btn btn-warning"> Mesajlar</a>
     </div>

     </body>


    
</html>
