@model IEnumerable<WebProgramlama_Odev.Models.GuzergahModel>

<link rel="stylesheet" href="~/css/Form.css" asp-append-version="true" />


<br />
<br />
<table class="table table-responsive-lg table-striped table-hover">
    <thead>
        <tr>
            <th>Nereden</th>
            <th>Nereye</th>
            <th>Tarih</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var guzergah in Model)
        {
            <tr>
                <td>@guzergah.Nereden</td>
                <td>@guzergah.Nereye</td>
                <td>@guzergah.Tarih</td>

                <td>

                    <a class="btn btn-warning" asp-action="Choose" asp-route-id="@guzergah.UcusId">Seç</a>

                </td>
            </tr>
        }
    </tbody>
</table>